


body {
    background-color: #f4f0e1;
    height: 100%;
}




/* css of the naturefy_purpos serction*/
#naturefy_purpos {
    margin: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #2F5D3B ;
}

#naturefy_purpos h1{
    color: #2A4D2F;
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    margin: 15px auto;
}

.purpos_subtitle {
    color: #3C6E47 ;
    font-weight: 700;
    text-decoration: underline;
}

#naturefy_purpos li {
    color: #4A6B3D;
}

.purpos_image {
    width: 40%;
    float: right;
    border: 5px solid #4C6B3C;
    margin: auto 20px; 
}

#achivements_image {
    float: left; 
    margin-left: 0px;
    margin-bottom: 5vh;
}












/* css of the who_are_we serction that has 3 cards and they show info on hover*/
#who_are_we {
    width: 100%;
    min-height: 90vh;
    background-image: url(images/we3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}


#we_cards_section {
    width: 90%;
    min-height: 80vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    position: relative;
}










.about_card {
    width: 30%;
    height: 80vh;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.4);
    border: 5px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
}
.about_card i{
    font-size: 64px;
    margin: auto auto;
    transition: 0.5s;
}
.about_us_card_dicription {
    font-size: 22px;
    text-align: center;
    opacity: 0;
    max-height: 0px;
    transition: 0s;
}
.about_card:hover {
    transform: scale(1.1);
    background-color: rgba(72, 72, 72, 0.8);
    justify-content: flex-start;
    backdrop-filter: blur(8px);
}

.about_card:hover>i{
    margin: 0px;
}

.about_card:hover .about_us_card_dicription{
    opacity: 1;
    max-height: auto;
    transition: 0.5s;
}













/* css of the charities serction that displayes the charities in a siple way*/

#charities {
    margin-top: 10vh;
}

#charities h1{
    color: #2A4D2F;
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    margin: 15px auto;

}

.charity {
    width: 100%;
    margin: 10px auto;
    padding: 20px;
    position: relative;
    font-size: 18px;
    color: #2F5D3B;
}



.charity img{
    width: 40%;
    float: right;
    border: 5px solid #4C6B3C;
    margin: auto 20px; 
}






.charity h2{
    color: #3C6E47 ;
    font-weight: 700;
    text-decoration: underline;
}


.charity li{
    color: #4A6B3D;
}

.charity button{
    color: #4A6B3D;
    background-color: #f5f5dc;
    border: 3px solid #2c2a4d;
    border-radius: 10px;
    padding: 5px 10px;
    transition: 0.2s;
}


.charity button:hover{
    color: #f5f5dc;
    background-color: #4A6B3D;
    border: 3px solid #2c2a4d;
    border-radius: 5px;
}


.charity button:active{
    background-color: #2c2a4d;
    border: 3px solid #4A6B3D;
}






















/* You are about to enter to the responsivity zone*/

@media(max-width: 1145px) {
    
    .about_us_card_dicription {
        font-size: 20px;

    }
}


@media(max-width: 880px) {
    

    #who_are_we {
        background: none;
        max-height: 0%;
        display: none;
    }
    
    #we_cards_section {
        display: none;
    }

    .purpos_image {
        width: 90%;
        float: none;
        border: 5px solid #4C6B3C;
        margin: 15px auto;
    }
    #achivements_image {
        float: none;
    }
        #naturefy_purpos h1{
        font-size: 32px;
    }
    #charities h1{
        font-size: 32px;
    }
}

@media(max-width: 720px) {
    

    .charity img{
        width: 70%;
        float: none;
    }
    #ocean_cleanup_image {
        width: 70%;
        float: none;
    }
    
    #pure_earth_image {
        width: 70%;
        float: none;
    }
    .button_container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    
}
